<head>
    <title> <%- page.title %> - <%- theme.author %> </title>
  	<link rel="stylesheet" href="/css/main.css">
  	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script type = "text/javascript" async src="/javascript/main.js"></script>
    <script id="MathJax-script" async src="/javascript/math/tex-mml-chtml.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>


    <script type="text/javascript" src="/javascript/codeBlocks/codeBlockFuction.js"></script>
    <script type="text/javascript" src="/javascript/codeBlocks/codeCopy.js"></script>
    <script type="text/javascript" src="/javascript/codeBlocks/clipboard.min.js"></script>
    <script type="text/javascript" src="/javascript/codeBlocks/codeShrink.js"></script> 
    <style type="text/css">code[class*="language-"], pre[class*="language-"] { white-space: pre !important; }</style>
   
    
    <!--
    <link rel="stylesheet" href="/prism/prism-line-numbers.min.css">
    <script src="/prism/prism-line-numbers.min.js"></script>
    -->

    <link rel="stylesheet" href="/highlight/styles/atom-one-dark.min.css">
    <script src="/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>

<body>

<% if(is_current("/links")) { %>
    <%- partial('_pages/links') %>
<% } %>

<% if(is_current("/template")) { %>
    <%- partial('_pages/template') %>
<% } %>


<% if(is_post() == true) { %>

    <div style = "width: 2%;height: 100%;float: left">
    </div>

    <div id = "article">

        <div id = "post-author"> By <%- theme.author %> </div>
        <br>
        <div id = "post-date"> created on <%- date(page.date, "YYYY-MM-DD HH:mm:ss") %> </div>
        <div id = "post-updated"> updated on <%- date(page.updated, "YYYY-MM-DD HH:mm:ss") %> </div>
        <%- page.content %>

    </div>

    <div id = "toc">
    </div>

<% } %>

</body>