    <div class = "writing">
        <h1>Writing.</h1>
    </div>

    <section class="posts">
        <% page.posts.each(function (post) { %>
        <article class="post">
            
            <div class="post-title" style="width:600px; height: 32px">
                <div>
                    
                    <div class = "post-meta-top">
                        <% if(post.top != 0) { %>
                                <i class="fa fa-thumb-tack"></i>
                                <text>top:<%- post.top %></text>
                        <% } %>
                
                    </div>
                    
                    <div class="post-time"><%- date(post.date, "YYYY-MM-DD") %></div>

                    <a class="post-title-link" href="<%- url_for(post.path) %>">
                        <%= post.title %>
                    </a>
                


                    <%- list_categories(post.categories, {
                        show_count: false,
                        style: false,
                        separator: ' ',
                        class: 'category-border',
                        transform(str) {
                            return str;
                        }
                    }) %>
                </div>

            </div>
        
        
        </article>
        <% }) %>
    </section>
